{
  "tabWidth": 4,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    }
  ]
}
