<html>
    <head>
        <style>
            body * {
                font-family: 'Courier New', Courier, monospace;
                font-size: 16px;
            }
            button {
                /* border-width: 2px; */
                font-size: 1em;
            }
            h1 {
                font-size: 2em;
            }
            h2 {
                font-size: 1.5em;
                margin-block-end: 0.5em;
                margin-block-start: 1.5em;
            }
            h3 {
                font-size: 1em;
            }

            .display {
                background-color: green;
                font-size: 1.2em;
                font-weight: bold;
                padding: 10px;
            }
            .text-area {
                font-size: 0.8em;
                height: 250px;
                padding: 10px;
                width: 100%;
            }

            .component-list {
                list-style-type: none;
            }
            .led {
                display: inline-block;
                height: 20px;
                width: 20px;
                box-sizing: border-box;
            }
            .led-label {
                margin-left: 10px;
            }

            .stoplight-led-row {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
            .led-stoplight-missed {
                border: 2px solid red;
            }
            .led-stoplight-steady {
                border: 2px solid orange;
            }
            .led-stoplight-ready {
                border: 2px solid green;
            }

            .led-alarm {
                border: 2px solid blue;
            }
        </style>
    </head>
    <body>
        <h1>OneTesselAway Web UI</h1>

        <p>
            This is a simple web UI for the OneTesselAway device. It shows raw
            arrival info and device logs to help with diagnostics.
        </p>

        <h2>Simulated Device</h2>
        <p>
            This simulated state should match exactly what's currently on the
            device.
        </p>
        <h3>Display</h3>
        <pre id="displayLines" class="display"><%= displayLines %></pre>
        <h3>Stoplight LEDs</h3>
        <ul class="component-list">
            <li class="stoplight-led-row">
                <div class="led led-stoplight-missed"></div>
                <div class="led-label">Missed</div>
            </li>
            <li class="stoplight-led-row">
                <div class="led led-stoplight-steady"></div>
                <div class="led-label">Steady</div>
            </li>
            <li class="stoplight-led-row">
                <div class="led led-stoplight-ready"></div>
                <div class="led-label">Ready</div>
            </li>
        </ul>
        <h3>Alarm</h3>
        <ul class="component-list">
            <li class="stoplight-led-row">
                <div class="led led-alarm"></div>
                <div class="led-label">Alarm LED</div>
            </li>
            <button class="btn-alarm-set">
                Set alarm
            </button>
        </ul>

        <h2>Extended Device Control</h2>
        <p>Additional controls and settings for the device.</p>
        <ul class="component-list">
            <button class="btn-alarm-play">
                Play alarm tune
            </button>
        </ul>

        <h2>Arrival Info</h2>
        <p>
            Latest "arrival info" state in memory, from which the display is
            derived
        </p>
        <textarea id="arrivalInfo" class="text-area">
<%= arrivalInfo %>
        </textarea>

        <h2>Device Logs</h2>
        <p>
            Device logs from the OneTesselAway program, latest first.
        </p>
        <textarea id="deviceLogs" class="text-area">
<%= deviceLogs %>
        </textarea>

        <!-- This client library is provided by the server -->
        <script src="/socket.io/socket.io.js"></script>
        <%- jsConstants %>
        <script>
            const socket = io.connect();

            // Document element references -------------------------------------

            const btnAlarmSetEl = document.querySelector('.btn-alarm-set');
            const btnAlarmPlayEl = document.querySelector('.btn-alarm-play');
            const ledAlarmEl = document.querySelector('.led-alarm');
            const ledStoplightEls = constants.STOPLIGHT_LED_NAMES.reduce(
                (accum, ledName) => {
                    accum[ledName] = document.querySelector(
                        '.led-stoplight-' + ledName,
                    );
                    return accum;
                },
                {},
            );

            // Utilities -------------------------------------------------------

            const setLed = (ledEl, on) => {
                const ledColor = getComputedStyle(ledEl).borderColor;
                ledEl.style.backgroundColor = on ? ledColor : 'white';
            };

            // Web UI -> server event communication ----------------------------

            const store = {};

            // Emit an event to the server
            const emitEvent = (...rest) => {
                console.log('emitEvent', ...rest);
                socket.emit(...rest);
            };

            // When the server state updates a key...
            const onServerStateUpdate = (stateKey, cb) => {
                socket.on('updated:' + stateKey, updatedVal => {
                    console.log(
                        'onStateUpdatedEvent',
                        'updated:' + stateKey,
                        updatedVal,
                    );
                    store[stateKey] = updatedVal;
                    cb(updatedVal);
                });
            };

            // Set a key on the server state
            const setServerState = (key, val) =>
                emitEvent('setState', { key, val });

            // LCD display & debug info ----------------------------------------

            // Update the display when the device state updates
            socket.on('deviceStateUpdated', deviceState => {
                //console.log('Device state updated:', deviceState);

                // Update text-based elements
                Object.keys(deviceState).forEach(stateKey => {
                    const stateValue = deviceState[stateKey];
                    const el = document.querySelector(`#${stateKey}`);
                    if (el) {
                        el.innerHTML = stateValue;
                    }
                });
            });

            // Stoplight -------------------------------------------------------

            Object.keys(constants.STOPLIGHT_STATES).forEach(state => {
                onServerStateUpdate(
                    'isTrafficLightStateOn_' + state,
                    result => {
                        // Turn on all stoplight LEDs if 'go' state
                        if (state === constants.STOPLIGHT_STATES.GO) {
                            Object.keys(ledStoplightEls).forEach(
                                ledStoplightEl => {
                                    setLed(ledStoplightEl, true);
                                },
                            );
                        } else {
                            // Otherwise, turn off all stoplight LEDs except the one
                            Object.keys(ledStoplightEls).forEach(
                                ledStoplightEl => {
                                    setLed(ledStoplightEl, false);
                                },
                            );

                            Object.keys(ledStoplightEls).forEach(
                                ledStoplightEl => {
                                    setLed(ledStoplightEl, result);
                                },
                            );
                        }
                    },
                );
            });

            // Alarm -----------------------------------------------------------

            onServerStateUpdate('isAlarmEnabled', isAlarmEnabled => {
                setLed(ledAlarmEl, isAlarmEnabled);
            });

            btnAlarmSetEl.onclick = e => {
                e.preventDefault();
                setServerState('isAlarmEnabled', !store.isAlarmEnabled);
            };

            // EXTENDED DEVICE CONTROLS ========================================

            // Play alarm
            btnAlarmPlayEl.onclick = e => {
                e.preventDefault();
                emitEvent('action:playAlarm', 'nyanIntro');
            };
        </script>
    </body>
</html>
