<html>
    <head>
        <style>
            body {
                font-family: 'Courier New', Courier, monospace;
            }
            .display {
                background-color: green;
                padding: 10px;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h1>OneTesselAway (Web UI)</h1>

        <p>
            This is a simple web UI for the OneTesselAway device. It shows raw
            arrival info and device logs to help with diagnostics.
        </p>

        <h2>Mock Display</h2>
        <p>This is what should be currently displayed on the Tessel device:</p>
        <pre class="display"><%= displayLinesJoined %></pre>

        <h2>Arrival Info</h2>
        <pre>
<%= arrivalInfo %>
        </pre>

        <h2>Device Logs</h2>
        <pre>
<%= deviceLogs %>
        </pre>

        <!-- This client library is provided by the server -->
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect();
            socket.on('news', function(data) {
                console.log(data);
                socket.emit('my other event', { my: 'data' });
            });

            socket.on('deviceStateUpdated', data => {
                console.log('>>>', data);
            });
        </script>
    </body>
</html>
