<html>
    <head>
        <link rel="shortcut icon" href="static/favicon.ico" />
        <style>
            body * {
                font-family: 'Courier New', Courier, monospace;
                font-size: 16px;
            }
            button {
                /* border-width: 2px; */
                font-size: 1em;
            }
            h1 {
                font-size: 2em;
            }
            h2 {
                font-size: 1.5em;
                margin-block-end: 0.5em;
                margin-block-start: 1.5em;
            }
            h3 {
                font-size: 1em;
            }

            .lcd-screen {
                background-color: green;
                font-size: 1.2em;
                font-weight: bold;
                padding: 10px;
            }
            .text-area {
                font-size: 0.8em;
                height: 250px;
                padding: 10px;
                width: 100%;
            }

            .component-list {
                list-style-type: none;
            }
            .component-row {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
            .led {
                display: inline-block;
                height: 20px;
                width: 20px;
                box-sizing: border-box;
            }
            .component-label {
                margin-left: 10px;
            }

            .led-stoplight-miss {
                border: 2px solid red;
            }
            .led-stoplight-steady {
                border: 2px solid orange;
            }
            .led-stoplight-ready {
                border: 2px solid green;
            }

            .img-buzzer {
                height: 20px;
            }

            .led-alarm {
                border: 2px solid blue;
            }
        </style>
    </head>
    <body>
        <h1>OneTesselAway Web UI</h1>

        <p>
            This is a simple web UI for the OneTesselAway device. It shows raw
            arrival info and device logs to help with diagnostics.
        </p>

        <h2>Simulated Device</h2>
        <p>
            This simulated state should match exactly what's currently on the
            device.
        </p>
        <h3>LCD Screen</h3>
        <pre class="lcd-screen"><%= lcdScreenContents %></pre>
        <h3>Stoplight LEDs</h3>
        <ul class="component-list">
            <li class="component-row">
                <div class="led led-stoplight-miss"></div>
                <div class="component-label">Missed</div>
            </li>
            <li class="component-row">
                <div class="led led-stoplight-steady"></div>
                <div class="component-label">Steady</div>
            </li>
            <li class="component-row">
                <div class="led led-stoplight-ready"></div>
                <div class="component-label">Ready</div>
            </li>
        </ul>
        <h3>Alarm</h3>
        <ul class="component-list">
            <li class="component-row">
                <img class="img-buzzer" src="static/buzzer-off.png" />
                <div class="component-label">Buzzer</div>
            </li>
            <li class="component-row">
                <div class="led led-alarm"></div>
                <div class="component-label">Alarm LED</div>
            </li>
            <button class="btn-alarm-set">
                Set alarm
            </button>
        </ul>

        <h2>Extended Device Control</h2>
        <p>Additional controls and settings for the device.</p>
        <ul class="component-list">
            <button class="btn-alarm-play">
                Play alarm tune
            </button>
        </ul>

        <h2>Global Store State</h2>
        <p>
            Contents of the global store
        </p>
        <textarea id="store-state" class="text-area">
<%= storeState %>
        </textarea>

        <h2>Device Logs</h2>
        <p>
            Device logs from the OneTesselAway program, latest first. Refresh
            browser to get latest logs.
        </p>
        <textarea id="device-logs" class="text-area">
<%= deviceLogs %>
        </textarea>

        <!-- This client library is provided by the server -->
        <script src="/socket.io/socket.io.js"></script>
        <%- jsConstants %>
        <script>
            const socket = io.connect();

            // Document element references -------------------------------------

            const btnAlarmSetEl = document.querySelector('.btn-alarm-set');
            const btnAlarmPlayEl = document.querySelector('.btn-alarm-play');
            const imgBuzzerEl = document.querySelector('.img-buzzer');
            const lcdScreenEl = document.querySelector('.lcd-screen');
            const ledAlarmEl = document.querySelector('.led-alarm');
            const ledStoplightEls = constants.STOPLIGHT_LED_NAMES.reduce(
                (accum, ledName) => {
                    accum[ledName] = document.querySelector(
                        '.led-stoplight-' + ledName,
                    );
                    return accum;
                },
                {},
            );
            const textStoreStateEl = document.querySelector('#store-state');

            // Utilities -------------------------------------------------------

            const setLed = (ledEl, on) => {
                const ledColor = getComputedStyle(ledEl).borderColor;
                ledEl.style.backgroundColor = on ? ledColor : 'white';
            };

            // Web UI -> server event communication ----------------------------

            const store = {};

            // Emit an event to the server
            const emitEvent = (...rest) => {
                console.log('emitEvent', ...rest);
                socket.emit(...rest);
            };

            const onEvent = (eventName, cb) => {
                socket.on(eventName, (...cbArgs) => {
                    console.log('onEvent', eventName, ...cbArgs);
                    cb(...cbArgs);
                });
            };

            // When the server state updates a key...
            const onServerStateUpdate = (stateKey, cb) => {
                socket.on('updated:' + stateKey, updatedVal => {
                    console.log(
                        'onStateUpdatedEvent',
                        'updated:' + stateKey,
                        updatedVal,
                    );
                    store[stateKey] = updatedVal;
                    cb(updatedVal);
                });
            };

            // Set a key on the server state
            const setServerState = (key, val) =>
                emitEvent('setState', { key, val });

            // LCD Screen ------------------------------------------------------

            onServerStateUpdate('lcdScreenContents', screenLines => {
                lcdScreenEl.innerHTML = screenLines.join('\n');
            });

            // Stoplight -------------------------------------------------------

            // When the stoplight state is updated, turn on the corresponding
            // LED(s). Turn on all of them if stoplight state is 'go';
            onServerStateUpdate('stoplightState', stoplightState => {
                constants.STOPLIGHT_LED_NAMES.forEach(ledName => {
                    const ledStoplightEl = document.querySelector(
                        '.led-stoplight-' + ledName,
                    );
                    setLed(
                        ledStoplightEl,
                        [constants.STOPLIGHT_STATES.GO, ledName].includes(
                            stoplightState,
                        ),
                    );
                });
            });

            // Alarm -----------------------------------------------------------

            // Speaker
            onServerStateUpdate('isAlarmPlaying', isAlarmPlaying => {
                imgBuzzerEl.src = `static/buzzer-${
                    isAlarmPlaying ? 'on.gif' : 'off.png'
                }`;
            });

            // LED
            onServerStateUpdate('isAlarmEnabled', isAlarmEnabled => {
                setLed(ledAlarmEl, isAlarmEnabled);
            });

            // Button
            btnAlarmSetEl.onclick = e => {
                e.preventDefault();
                setServerState('isAlarmEnabled', !store.isAlarmEnabled);
            };

            // Debug -----------------------------------------------------------

            onServerStateUpdate('storeState', storeState => {
                textStoreStateEl.innerHTML = JSON.stringify(
                    storeState,
                    null,
                    2,
                );
            });

            // EXTENDED DEVICE CONTROLS ========================================

            // Play alarm
            btnAlarmPlayEl.onclick = e => {
                e.preventDefault();
                emitEvent('action:playAlarm', 'nyanIntro');
            };
        </script>
    </body>
</html>
