<html>
    <body>
        <h1>OneTesselAway (Web UI)</h1>

        <p>
            This is a simple web UI for the OneTesselAway device. It shows raw
            arrival info and device logs to help with diagnostics.
        </p>

        <h2>Arrival Info</h2>
        <pre>
<%= arrivalInfo %>
        </pre>

        <h2>Device Logs</h2>
        <pre>
<%= logs %>
        </pre>
    </body>
</html>
