<html>
    <body>
        <h1>OneTesselAway (Web UI)</h1>

        <h2>Arrival Info</h2>
        <pre>
<%= arrivalInfo %>
        </pre>

        <h2>App Logs</h2>
        <pre>
<%= logs %>
        </pre>
    </body>
</html>
